<!DOCTYPE html>
<html>
  <head>
    <title>Ahmed area</title>
    {%include 'bootstrap.html'%}
    
  </head>
<body>
  
  <div class="container">
  <h1 class='text-center mt-2 mb-4'>AI Practitioners </h1>
    {%include 'banner.html'%}
<h1 class="text-center mt-2 mb-4"">My Story</h1>
<p class="lead">After two or Three years of working I decided to change my career path. I have been working as a softwar developer for almost two years now. I have been working on many projects and I have learned a lot from them.</p>
<h2>Members</h2>
<div>
{% for st in projects %}
 {%include 'projectslist.html'%}
{% endfor %}

</div>
<div style="text-align:center;">
<button class="btn btn-primary btn-lg"
onclick="window.location.href='/message';"">Contact US</button>
<p class="mt-4">Copyright 2023, Ahmed</p>
<div>
  </div>
</body>
</html>